@model AchievementCategory
@{
	ViewBag.Title = "创建分类";
}

<div class="ui info message">本页面用于为成就系统注册分类及其关联的业务应用信息。注意：第三方应用必须首先在 <a class="alert-link" href="https://openid.cc98.org">CC98 登录中心</a>中进行注册，才能正确授权并使用成就系统。成就系统本身不负责第三方应用的相关功能管理。</div>

<form class="ui form" asp-controller="Category" asp-action="Create" method="post" asp-antiforgery="true">

	<div class="ui grid">
		<div class="doubling two column centered row">
			
			<div class="column">
				
				<partial name="_EditPartial"/>
				
				<div class="ui divider"></div>

				<div asp-validation-summary="ModelOnly" class="text-danger"></div>

				<button type="submit" class="ui primary button">创建分类</button>
				<button type="reset" class="ui button">清空填写</button>

			</div>
		</div>
	</div>
</form>