@using System.Globalization
@model AchievementCategory
@{
	ViewBag.Title = string.Format(CultureInfo.CurrentUICulture, "编辑分类 - {0}", Model.DisplayName);
	ViewBag.IsEdit = true;
}

<div class="ui info message">如果你希望修改分类标识，请删除当前分类并重新创建新项。</div>

<form class="ui form" asp-controller="Category" asp-action="Edit" method="post" asp-antiforgery="true">

	<input type="hidden" asp-for="CodeName" />

	<div class="ui grid">
		<div class="doubling two column centered row">
			<div class="column">

				<partial name="_EditPartial"/>

				<div class="ui divider"></div>

				<div asp-validation-summary="ModelOnly" class="text-danger"></div>

				<button type="submit" class="ui primary button">更改分类</button>
				<button type="reset" class="ui button">清空填写</button>

			</div>
		</div>
	</div>
</form>