@{
	ViewBag.Title = "成就系统帮助";
}

<div class="ui info message">这里列出了你可能会关注的和成就系统相关的常见问题，但答案可能会随着成就系统的功能更新而过时。如果你希望准确地了解成就系统当前的运行规则，或者想了解其他不在列表中的情况，请直接联系管理员询问。</div>

<h2 class="ui header">成就是如何创建和获得的？</h2>
<p>成就系统本身只负责集中管理成就信息数据库，以及向大家展示成就的获得情况。成就系统本身并不负责判定成就的获得条件，也不负责颁发或者收回成就。每个成就项的内容、获得条件和时机都由对应的业务系统负责管理：例如，<q>抽卡系统</q>相关的成就实际都是由<q>抽卡系统</q>判定的，系统的维护者会通过成就系统提供的后台接口向成就系统注册成就（也即告诉成就系统需要展示的成就清单），或者通知成就系统向某个用户颁发或者回收成就。</p>
<p>如果你对任何成就项目的说明或者颁发情况有疑问，请直接联系对应业务系统的开发人员进行沟通。</p>

<h2 class="ui header">成就有哪些类型？</h2>
<p>目前，成就系统支持三种成就类型：<strong>普通</strong>、<strong>隐藏</strong>和<strong>特殊</strong>成就。他们的区别可以简单的描述如下：</p>


<div class="ui fluid card">
	<div class="content">
		<div class="ui divided items">
			<div class="item">
				<div class="content">
					<div class="header">普通成就</div>
					<div class="description">普通成就是最常见的成就类型。即使你没有获得成就，你也可以看到这类成就的详细信息，包括<q>名称</q>、<q>描述</q>、<q>获得提示</q>、<q>奖励内容</q>等等，具体包含的内容由成就的设计者决定；同时，你也能看到所有已经获得这项成就的用户的列表，以及他们的获得时间。这种成就在获得之前，通常图标会以灰色状态显示（不过，如果设计者愿意，他可以为没有获得的成就专门设计图标）；成就获得后，你将看到成就图标被点亮，并可以看到你的获得时间。如果成就是一个<q>计数成就</q>，你还能在获得前看到你当前的获得进度。</div>
				</div>

			</div>
			<div class="item">
				<div class="content">
					<div class="header">隐藏成就</div>
					<div class="description">
						<p>隐藏成就在获得之前，其信息将被隐藏。没有获得的用户只能在成就列表中看到一项标明为<q>隐藏成就</q>的项目，此时唯一能看到的额外信息是它的<q>获得提示</q>（不过成就设计者并不一定会提供获得提示）。直到你获得这项成就后，它才会被彻底解锁，在列表中展示所有信息。如果这个成就是<q>计数成就</q>，在获得之前你将无法看到当前进度（不过，我们希望设计者不要设计带计数的隐藏成就）。你仍然可以在成就获得之前看到其他获得它的用户信息，隐藏成就也会计入成就总数，成为你的成就获得数量总进度条的一部分。</p>
						<p>要获得一项隐藏成就，你通常需要一点点运气或者奇思妙想；请开动大脑，结合设计人员提供的获得提示，想一想哪些事情会比较特殊吧！如果你把它的获得办法公开，通常其他人很容易如法炮制，因此一定要记得保密哦，不然可会变得一文不值。</p>
					</div>
				</div>

			</div>
			<div class="item">
				<div class="content">
					<div class="header">特殊成就</div>
					<div class="description">
						<p>特殊成就在获得之前，你将无法在成就系统中看到它的任何蛛丝马迹；换言之，只有你满足了成就条件并将它解锁，你才能知晓它的存在。在获得之前，你也无法看到有哪些用户已经获得了它。特殊成就不会计入成就总数，而是会以一种独立的形式显示在你的成就总数栏中，作为<q>奖励</q>存在。</p>
						<p>特殊成就通常是可望而不可即的，你必须有爆棚的运气或者达成了常人难以获得的条件才能获得——即使告诉你它的获得办法，你也很难通过单纯的努力获得回报。特殊成就之间甚至可能<q>互斥</q>（也即两个或者多个特殊成就的获得条件正好互补），所以，请不要因为完美主义强迫症发作而为特殊成就绞尽脑汁，就把他当做一种意外惊喜看待吧！</p>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<h2 class="ui header">成就获得之后会被回收吗？</h2>
<p>有一些成就，例如<q>全图鉴</q>等等，从字面上来看，似乎获得的条件会不断变化——曾经的全图鉴会随着新物品的增加而变得不全。这时候参与者可能会产生困惑：如果我现在获得了成就，但日后它的满足条件发生了变化，这个成就会变回未获得状态吗？</p>
<p>在成就中心，我们为每个成就都独立预留了一个特殊开关：该成就的达成条件是否会动态变化。如果成就设计人员为某项成就打开了这个开关，你将会在它的信息展示界面中看到一个特殊的警告图标 <span data-tooltip="这是一个动态成就，在你获得之后可能会重新失去这项成就。"><i class="yellow exclamation triangle icon"></i></span>，这会提醒你这项成就成就有可能会得而复失；如果你没有看到这个图标，则说明成就应该是稳定的，一旦获得后不会失去。不过，站在用户的立场上，我们也建议成就设计者尽量不要设计这种动态成就，因为这容易让参与者产生不安全感，从而抗拒获得成就。</p>
<p>需要说明的是，这只是界面上的一种说明提示，成就系统并不会阻止成就设计者实际对用户剥夺由他们颁发的任何成就。毕竟，成就的开发人员也可能需要矫正因为设计或者系统运行错误而导致的错误颁发。尽管如此，如果你认为某个成就的撤销过于随意，没有给参与者作出足够的提前预警，也欢迎你随时向我们反馈，或者联系相关成就的开发人员。</p>

<div class="ui divider"></div>
<h2 class="ui header">我是业务系统的作者，我如何利用 CC98 成就系统？</h2>
<p>如果你是业务应用程序的开发者，并且希望接入 CC98 成就系统，你通常可以按照如下步骤操作：</p>
<div class="ui ordered list">
	<div class="item">
		<strong>接入 CC98 登录系统：</strong>请访问 <a href="https://openid.cc98.org">CC98 登录系统</a>，在其中注册应用，并修改你的业务系统代码，允许你的业务系统使用 OpenID Connect 协议利用 CC98 登录系统；
	</div>
	<div class="item">
		<strong>注册成就系统应用：</strong>你需要联系成就系统管理员，由管理员在成就系统中为你注册一个新的成就系统分类信息，你需要提供的基本信息包括：你的程序需要在成就系统中显示的名称、使用的代码名称、对应的 CC98 登录系统客户端凭据（也即 <code>client_id</code>）等；
	</div>
	<div class="item">
		<strong>对接成就系统接口：</strong>请访问 <a href="~/swagger">CC98 成就系统 API 文档</a>页面，详细阅读成就系统各项 API 的用法说明，随后使用<q>客户端凭据</q>（也即 <code>client_credentials</code>）模式连接到成就系统并执行成就系统相关操作，包括但不限于：注册成就、更新成就系统信息、颁发或回收成就等。
	</div>
</div>
<p>如果你对成就系统对接还有任何具体问题，欢迎你随时联系 CC98 技术组团队进行详细沟通。</p>