<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewBag.PageTitle - CC98 成就系统</title>
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
	<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

	@await RenderSectionAsync("Header", false)

</head>
<body>
	<header>
		<nav class="navbar navbar-expand-md bg-light border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-controller="Home" asp-action="Index">CC98 成就系统</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="切换导航菜单">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav me-auto flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Achievement" asp-action="Index">成就一览</a>
						</li>

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="False">管理</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" asp-controller="Achievement" asp-action="Manage">成就</a></li>
								<li><a class="dropdown-item" asp-controller="Category" asp-action="Manage">分类</a></li>

								<authorize policy="@Policies.Admin">
									<li><hr class="dropdown-divider" /></li>
									<li><a class="dropdown-item" asp-controller="Manage" asp-action="Index">系统管理</a></li>
									<li><a class="dropdown-item" asp-controller="Manage" asp-action="SystemSetting">系统设置</a></li>
								</authorize>

							</ul>
						</li>

					</ul>
					<partial name="_LogOnPartial" />
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container text-center">
			<small>&copy; 2022 - CC98 成就系统</small>
		</div>
	</footer>
	<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", false)

</body>
</html>
