@if (User.Identity is { IsAuthenticated: true })
{
	<div class="item">
		<strong>@User.Identity.Name</strong>
	</div>
	<a class="ui item" type="submit" href="#" onclick="$('#log-off-form').submit();">注销</a>

	<form id="log-off-form" class="d-flex" asp-controller="Account" asp-action="LogOff" method="post" asp-antiforgery="true">
	</form>
}
else
{
	<a class="ui item" asp-controller="Account" asp-action="LogOn" asp-route-returnUrl="@Url.Action()">登录</a>
}