@if (User.Identity is { IsAuthenticated: true })
{
	<span class="navbar-text"><strong>@User.Identity.Name</strong></span>
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" href="#" onclick="document.getElementById('log-off-form').submit();">注销</a>
		</li>
	</ul>
	<form id="log-off-form" class="d-flex" asp-controller="Account" asp-action="LogOff" method="post" asp-antiforgery="true">
	</form>
}
else
{
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" asp-controller="Account" asp-action="LogOn">登录</a>
		</li>
	</ul>
}