@{
	Layout = "_Layout";
	ViewBag.PageTitle ??= ViewBag.Title;
}

<div asp-message-list="AlertDialogClosable" asp-message-list-use-two-line="true"></div>

<h1 class="ui center aligned dividing header">@ViewBag.Title</h1>

@RenderBody()

@section Header{
	@await RenderSectionAsync("Header", false)
}

@section Scripts{
	@await RenderSectionAsync("Scripts", false)
}
