@using Microsoft.AspNetCore.Mvc.Localization
@model AchievementAndUserRecordInfo
@inject IViewLocalizer ViewLocalizer

<div class="ui popup card">
	<div class="content">
		<div class="header">@Model.Item.DisplayName</div>
		<div class="description">@Model.Item.Description</div>
		
	</div>
	<div class="extra content">
		
		<div class="meta">
			@if (Model.Record != null)
			{
				if (Model.Record.IsCompleted)
				{
					<i class="green check icon"></i> <span>@ViewLocalizer["获得于 {0:g}", Model.Record.Time]</span>
				}
				else
				{
					<i class="blue clock icon"></i> <span>@ViewLocalizer["进度 {0}/{1}", Model.Record.CurrentValue!, Model.Item.MaxValue!]</span>
				}
			}
			else
			{
				<span>尚未获得</span>
			}
		</div>
	</div>
</div>
