@using Microsoft.AspNetCore.Mvc.Localization
@model AchievementAndUserRecordInfo
@inject IViewLocalizer ViewLocalizer

<div class="ui popup">
	<div class="header">@Model.Item.DisplayName</div>
	<div class="content">@Model.Item.Description</div>
	<div class="ui divider"></div>
	<div class="content">

		@if (Model.Record != null)
		{
			if (Model.Record.IsCompleted)
			{
				<span class="text-success">@ViewLocalizer["完成于 {0:g}", Model.Record.Time]</span>
			}
			else
			{
				<span class="text-primary">@ViewLocalizer["进度 {0}/{1}", Model.Record.CurrentValue!, Model.Item.MaxValue!]</span>
			}
		}
		else
		{
			<span>你还没有获得这项成就</span>
		}
	</div>
</div>
