@model AchievementRecord
@{
	var categoryName = (string)ViewBag.CategoryName;
	var achievementName = (string)ViewBag.AchievementName;
}

<form class="ui form small modal" asp-controller="Achievement" asp-action="AddRecord" method="post" asp-antiforgery="true">

	<input type="hidden" asp-for="CategoryName" value="@categoryName" />
	<input type="hidden" asp-for="AchievementName" value="@achievementName" />


	<i class="close icon"></i>
	<div class="header">添加用户记录</div>

	<div class="content">
		<partial name="_RecordPartial" />
	</div>

	<div class="actions">
		<button type="submit" class="ui primary button">确认添加</button>
		<button type="button" class="ui button" data-bs-dismiss="modal">关闭</button>
	</div>

</form>

