@model AchievementItem
@{
	ViewBag.Title = "创建成就";
}

<form class="ui form" asp-controller="Achievement" asp-action="Create" method="post" asp-antiforgery="true">
	
	<div class="ui grid">
		<div class="doubling two column centered row">
			<div class="column">

				<partial name="_EditPartial"/>
				
				<div class="ui divider"></div>

				<div class="text-danger" asp-validation-summary="ModelOnly"></div>
				<button type="submit" class="ui primary button">创建成就</button>
				<button type="reset" class="ui button">清空填写</button>
			</div>
		</div>
	</div>
</form>