@model AchievementRecord
@{
	ViewBag.EditMode = true;
}

<form asp-controller="Achievement" asp-action="EditRecord" method="post" asp-antiforgery="true">

	<input type="hidden" asp-for="CategoryName" />
	<input type="hidden" asp-for="AchievementName" />
	<input type="hidden" asp-for="UserName" />

	<div class="modal-header">
		<h5 class="modal-title">修改用户记录</h5>
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="关闭"></button>
	</div>

	<div class="modal-body">

		<partial name="_RecordPartial" />

	</div>

	<div class="modal-footer">

		<div class="text-danger" asp-validation-summary="ModelOnly"></div>

		<button type="submit" class="btn btn-primary">确认修改</button>
		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
	</div>

</form>