@model IPagedList<AchievementAndUserRecordInfo>
@{
	ViewBag.Title = "成就一览";
	var category = (string?)ViewBag.Category;
}


<div class="row">

	<div class="col-3">
		<vc:category-list user-name="@User.Identity?.Name" category="@category" />
	</div>
	<div class="col-9">

		@if (Model.Any())
		{
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
				@foreach (var item in Model)
				{
					<partial name="_ItemPartial" model="@item" />
				}
			</div>

			<pager />
		}
		else
		{
			<div class="text-center text-muted">这里没有可以显示的项目</div>
		}





	</div>

</div>

