@using Microsoft.AspNetCore.Mvc.Localization
@using Sakura.AspNetCore.Mvc.Internal
@model IPagedList<AchievementAndUserRecordInfo>
@inject IViewLocalizer Localizer
@{
	var category = (AchievementCategory)ViewBag.Category;
	ViewBag.Title = Localizer["成就一览 - {0}", category.DisplayName];

	var search = (UserSearchModel)ViewBag.Search;
}

<partial name="_UserSearchPartial" model="@search" />
<div class="ui divider"></div>

@if (Model.Any())
{
	@if (!string.IsNullOrEmpty(search.Keyword))
	{
		<div class="ui warning message">当你对成就名称进行筛选时，列表中将不会包含任何你当前未解锁的隐藏或特殊成就。</div>
	}

	<div class="ui three stackable raised cards">
		@foreach (var item in Model)
		{
			<partial name="_ItemPartial" model="@item" />
		}
	</div>

	<div class="ui hidden divider"></div>

	<pager />
}
else
{
	<div class="text-center text-muted">这里没有可以显示的项目</div>
}

@section Scripts
{
	<script>

		$(function () {

			$('.card .ui.image').popup();
		});

	</script>
}
