@using Microsoft.AspNetCore.Mvc.Localization
@using Sakura.AspNetCore.Localization
@model IEnumerable<CategoryUserSummaryInfo>
@inject IDynamicViewLocalizer Localizer
@{
	var defaultItem =
		new CategoryUserSummaryInfo
				{
					CodeName = null,
					DisplayName = "所有成就",
					UserCount = 0,
					AchievementCount = Model.Sum(i => i.AchievementCount),
					UserFinishedCount = Model.Sum(i => i.UserFinishedCount),
					UserSpecialCount = Model.Sum(i => i.UserSpecialCount)
				};
}

<div class="list-group">

	@foreach (var item in Model.Prepend(defaultItem))
	{
		<partial name="_CategoryItemPartial" model="@item" />
	}
</div>