@model IEnumerable<AchievementCategory>
@{
	var aspFor = (ModelExpression)ViewBag.AspFor;
	var allowNull = (bool)ViewBag.AllowNull;

	var selectList = new List<AchievementCategory>();

	var list = new SelectList(Model, nameof(AchievementCategory.CodeName), nameof(AchievementCategory.DisplayName), aspFor.Model);
}

<select class="ui dropdown" name="@Html.Name(aspFor.Name)" asp-items="@list">
	@if (allowNull)
	{
		<option value="">(全部分类)</option>
	}
</select>
